name: flutter_zoom_meeting_sdk
description: "Flutter SDK for zoom meeting"
version: 1.0.0
homepage:

environment:
  sdk: ^3.10.0
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.mateenmehmood.flutter_zoom_meeting_sdk
        pluginClass: FlutterZoomMeetingSdkPlugin
      ios:
        pluginClass: FlutterZoomMeetingSdkPlugin
